#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Comic Sans MS", "Arial", sans-serif;
  background: linear-gradient(to bottom, #fce4ec, #f8bbd0); /* Pink gradient */
  color: #880e4f; /* Dark pink */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#authenticate_button {
  background-color: purple;
}

#submit_button {
  background-color: purple;
}
